/*Background: Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/

body{
	background-color: #F2F1E8;
	color: #131511;
	font-family: 'Merriweather', sans-serif;
	font-weight: 100;
	padding: 0;
	margin:0;

}


#logo{
    float: left;
    width: 50px;

}
#main-navigation{
	font-family: "merriweather";
	font-size:18px;
	
}

#main-navigation a:hover{
    color: #CD5D67;
}

/*THES DO NOTHING
#main-navigation a:link {
    color: yellow;

} 

#main-navigation a:active{
    color: 968772;

} 

*/


#site-header{
	width: 100%;
	position: fixed;
	top:0px;
	color: #2B2F26;
	background-color: #FFFFFF;
	z-index: 100;
}

ul{
	list-style-type: none;
	text-align: center;

}

li{
	display: inline;
	margin: 0px 25px 0px 25px;
}


a{
	text-decoration: none;
}


h1, h2{
	text-align: center;

	}



/*ABOUT PAGE*/

#container{
	margin: 100px 50px 50px 50px;
	justify-content: center;
	width: 100
	font-family: 'Merriweather', sans-serif;
	font-weight: 100;
}

#top h1{
	font-size: 60px;
}

.top, .bottom{
	width:1000px;
	margin:auto;
}


.top img {
	float:left;
	margin:0 10px 10px 0;
	width: 150px;
}

.pic_container h2 {
	text-align:center;
	color: white;
	font-size: 60px;
	margin-top: 100px;
}
.pic_container {
	width:auto;
	padding:100px 0;	
	background-image:url("../week-one-project/images/background-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

aside img{
	float: right;
	width: 150px;
}

.bottom aside {
	float:right;
	width: 150px;
	font-size:15px;
}
#plans {
	clear:both;

}
#plans{
	width:auto;

}
thead{
	background-color: white;
	border: 1px solid black;
}
th {
	border: 1px solid black;
	padding: 15px;

}

table{
	border: 1px solid black;
	border-collapse: collapse;
	width: 80%;
	margin:0,100px,50px,0;

}

td{
	border: 1px solid black;
	padding: 15px;
}

tr:nth-child(even) {background-color: white;
}


/* INDEX PAGE*/

#indexbody{
	margin: 120px 50px 50px 50px;
}	
#indexbody h1, h2{
	font-family: 'Merriweather', sans-serif;
	font-weight: 100;

}

.image-row1, .image-row2 {
	display:flex;
	justify-content: center;
}

#image1 {
	background:url(../week-one-project/images/product-1.jpg) no-repeat;
	width: 610px;
	height:400px;
	margin: 5px;
	background-size:cover;
}

#image2 {
	background:url(../week-one-project/images/product-2.jpg) no-repeat;
	width:200px;
	height:400px;
	margin: 5px;
	background-size:cover;

}

#image3 {
	background:url(../week-one-project/images/product-3.jpg) no-repeat;
	width:200px;
	height:400px;
	margin: 5px;	
	background-size:cover;

}

#image4 {
	background:url(../week-one-project/images/product-4.jpg) no-repeat;
	width:200px;
	height:200px;
	margin: 5px;	
	background-size:cover;
}

#image5 {
	background:url(../week-one-project/images/product-5.jpg) no-repeat;
	width:200px;
	height:200px;
	margin: 5px;
	background-size:cover;

}

#image6 {
	background:url(../week-one-project/images/product-6.jpg) no-repeat;
	width:400px;
	height:200px;
	margin: 5px;	
	background-size:cover;
}

#image7 {
	background:url(../week-one-project/images/product-7.jpg) no-repeat;
	width:200px;
	height:200px;
	margin: 5px;	
	background-size:cover;
}


.image-container{
	display: inline-block;
	justify-content: space-between;
	position: relative;

}

.image-container h5 {
  display: inline;
  background-color: gray;
  color: white;
  padding: 5px;
  position:absolute;
  font-size: 10px;
  font-weight: lighter;
  bottom: 5px;
  left: 5px;
}

#site-footer{
	background-color: black;
	padding: 15px;
	color: white;
	width: 100%;
}

/*NEWSLETTER PAGE*/

.contact_details h2{
	font-size: 19px;
	font-weight: lighter;
}
.contact_details h1{
	font-size:32px;
	font-weight: lighter;
}

div#news{
	margin: 150px;
	width: auto;

}
#navbody{
	background-image: url(../week-one-project/images/background-2.jpg);
	background-size: cover;
}
form{
	background-color: white;
	padding: 20px;
	width: 600px;
	margin: auto;
}

.button{
	text-align: center;
}



input[type=submit]{
	background-color:  #968772;
	padding: 10px;
	font-size: 15px;
	color:#F2F1E8;
	padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/*THE TEXT DOESN'T CHANGE COLOR*/

input[type=submit]:hover {
    background-color: #967343;
    color: #FFFFFF;
}

input[type=text] {
    width: 100%;
    margin: 8px 0;
    line-height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #968772;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #967343;
}

input[type=email]:focus {
    border: 3px solid #967343;
}

input[type=email] {
    width: 100%;
    margin: 8px 0;
    line-height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #968772;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}



















